<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="Hjalte" connectionString="Server=LAPTOP-KOEHKSOQ;Database=SemesterProjektSql;Trusted_Connection=True;"/>
		<add name="Frederik" connectionString="Server=Frederik;Database=SemesterProjektSql;Trusted_Connection=True;"/>
		<add name="Jimmi" connectionString="Server=LAPTOP-KOEHKSOQ;Database=SemesterProjektSql;Trusted_Connection=True;"/>
	</connectionStrings>
</configuration>